<% provide(:title, 'About') %>
<!-- CONTENT FILL WHEN SCROLL = 0 -->
<div class="header-fill-within-app"></div>

<section class="full-width function-section">
 <div class="full-width sidebar-in-app">
 	<div class="large-3 medium-4 columns">
 		<div class="hide-for-small">
 			<div class="sidebar">
 				<nav>
 					<ul class="side-nav">
 						<li class="heading">Przeglądaj</li>
 						<li class="active" role="menuitem"><a href="#">Strona Główna</a></li>
 						<li role="menuitem"><a href="#">Rolnicy</a></li>
					   	<li role="menuitem"><a href="#">Kalendarz</a></li>
					   	<li role="menuitem"><a href="#">Ceny</a></li>
					   	<li class="divider"></li>
					   	<li class="heading">Zarządzaj</li>
 						<li role="menuitem"><a href="#">Uprawy</a></li>
					   	<li role="menuitem"><a href="#">Stado</a></li>
					   	<li role="menuitem"><a href="#">Zapasy</a></li>
					   	<li class="divider"></li>
					   	<li class="heading">Współpracuj</li>
 						<li role="menuitem"><a href="#">Zakupy grupowe</a></li>
					   	<li role="menuitem"><a href="#">Ekozakupy</a></li>
					   	<li role="menuitem"><a href="#">Weterynarze</a></li>

 					</ul>
 				</nav>
 			</div>
 		</div>
 	</div>
 	<div class="large-9 medium-8 columns">
 		<h1>Funkcja aplikacji</h1>
		<p>Zarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasami</p>
 	</div>
 </div>
</section> <!-- END SECTION.FULL-WIDTH.FUNCTION-SECTION -->











