<% provide(:title, 'Help') %>

<div class="header-fill-within-app"></div>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Przeglądaj</a>
        <ul class="dropdown">
          <li><a href="#">Strona główna</a></li>
          <li><a href="#">Rolnicy</a></li>
          <li><a href="#">Kalendarz</a></li>
          <li><a href="#">Ceny</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Zarządzaj</a>
        <ul class="dropdown">
          <li><a href="#">Uprawy</a></li>
          <li><a href="#">Stado</a></li>
          <li><a href="#">Zapasy</a></li>
          <li><a href="#">Wyposażenie</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Współpracuj</a>
        <ul class="dropdown">
          <li><a href="#">Zakupy grupowe</a></li>
          <li><a href="#">Weterynarze</a></li>
          <li><a href="#">Usługi</a></li>
          <li><a href="#">Ekozakupy</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

    <h1>Funkcja aplikacji</h1>
    <p>Zarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasamiZarządzanie polem, stadem lub zapasami</p>
