<!--
<h3 id="additionalFields" class="hide"><small>POLA DODATKOWE</small></h3>
-->

<div id="additionalFields" class="hide">
  <div class="alert-box secondary">
    POLA DODATKOWE
  </div>
</div>