<% provide(:title, 'Profil') %>


  <nav class="breadcrumbs">
    <%= link_to "Strona główna", root_path %>
    <%= link_to "Użytkownicy", users_path %>
    <a class="current" href="#"><%= @user.name %></a>
  </nav>

Profil użytkownika