<% provide(:title, 'Profil') %>

<!-- FLASH SECTION -->
<div class="flash">
<% flash.each do |message_type, message| %>
    <%= content_tag(:div, @user.name + ": " + message, class: "alert-box #{message_type}") %>
  <% end %>
</div>
<!--END OF FLASH SECTION -->

<div class="loggedin-main-page">
	<div class="full-width">
		

		<!-- KOLUMNA 1 -->

		<div class="kolumna-jeden">
			<div class="small-12 large-6 columns">
				<div class="panel">
					<h5>Aktywność innych rolników</h5>
					<p>W tym miejscu pojawi się aktywność innych rolników</p>
				</div>
				<div class="panel">
					<h5>Ceny transakcyjne</h5>
					<p>Tutaj będzie wykres cen jakiegoś artykułu </p>
				</div>
				<div class="panel">
					<h5>Wiadomości</h5>
					<p>Tutaj będzie jakiś czytnik newsów RSS. Wykorzystaj API.</p>
				</div>

			</div>
		</div> <!-- END OF kolumna-jeden -->



		<!-- KOLUMNA 2 -->

		<div class="kolumna-dwa">
			<div class="small-12 large-4 columns">
				<div class="panel">
					<h5>Wspomaganie decyzji</h5>
					<p>Niekonfigurowalne miejsce gdzie my będziemy decydować co się pojawi. Mają tutaj się pojawić statystki o działalności innych rolników (np. 95% zrobiło już opryski. 50% rolników wykorzystało środek x do zabiegu y. Coś na podstawie zachowania naszego rolnika, jakiś model behawioralny) </p>
				</div>
				<div class="panel">
					<h5>Zaplanowane zadania</h5>
					<p>W tym miejscu będzie lista z datami zadań do wykonania</p>
				</div>
				<div class="panel">
					<h5>Ostatnio wykonane zadania</h5>
					<p>Ostantio wykowane zabiegi</p>
				</div>
			</div>
		</div> <!-- END OF kolumna-dwa -->


		<!-- KOLUMNA 3 -->

		<div class="kolumna-trzy">
			<div class="small-12 large-2 columns">
				<div class="panel">
					<h5>Pogoda</h5>
					<p>Widget z pogodą. Korzystaj z API - możliwe dla Yahoo.</p>
				</div>
				<div class="panel">
					<h5>Po godzinach</h5>
					<p>Sport, dowcipy, newsy ze świata... cokolwiek co nam pomoze zdobyć jeszcze więcej informacji o uzytkowniku i jego zachowaniu.</p>
				</div>
			</div>
		</div> <!-- END OF kolumna-trzy -->
	</div> <!-- END OF full-width -->
</div> <!-- END OF loggedin-main-page -->
