<% user_active_buildings.each do |building| %>
    <% if (user_active_buildings.index(building)+1) % 3 == 1 %>
      <div class="row">
    <%  end %>
        <div class="large-4 columns">
          <%= link_to building do %>
          <div class="panel clearfix"> 
            <h2><small>Nazwa: <span><%= building.name %></span></small></h2>
            <h3><small>Typ: <%= building_type(building).name %></small></h3>
          </div>
          <% end %>
        </div>
        <% if (user_active_buildings.index(building)+1) % 3 == 1 %>
        <div class="large-4 columns">
        </div>
        <div class="large-4 columns">
        </div>
        <%  end %>
        <% if (user_active_buildings.index(building)+1) % 3 == 2 %>
        <div class="large-4 columns">
        </div>
        <%  end %>
            
    <% if (user_active_buildings.index(building)+1) % 3 == 0 || 
      (user_active_buildings.index(building)+1) == user_active_buildings.count %>
      </div>
    <%  end %>
<% end %>


