<% provide(:title, "Pola") %>

<div class="field-index">

  <nav class="breadcrumbs">
    <%= link_to "Strona główna", root_path %>
    <a class="current" href="#">Pola</a>
  </nav> <!--END OF breadcrumbs -->

  <% if user_active_fields.count == 0 %>
  <div class="no-field">
    <div class="row">
      <div class="large-12 columns">
        <div class="panel clearfix"> 
          <h2><small>Nie dodałeś jeszcze żadnego pola.</small></h2>
          <h3><small>Wykorzystaj przycisk "Dodaj pole", który znajduje się poniżej
            w celu dodania swojego pierwszego pola.</small></h3>  
        </div>
      </div>
    </div>
  </div> <!--END OF no-fields-->
    <% end %>

  <div class="sign-up-errors">
    <div class="row">
      <%= render 'shared/error_messages', object: @field %>
    </div>
  </div><!--END OF sign-up-errors-->

  <div class="fields">
    <%= render 'fieldsindex' %>
  </div><!--END OF fields-->

  <div class="add-field">
    <%= render 'addfield' %>
  </div><!--END OF add-field-->

  
</div> <!--END OF field-index-->


