<!-- HEADER SECTION -->
<div class="main-header">
  <div class="fixed">
    <div class="contain-to-grid header-section">
      <!-- TOPBAR SECTION -->
      
        
          <nav class="top-bar important-class" data-topbar>
            <!-- TITLE AREA & LOGO -->
            <ul class="title-area">
                <li class="name">
                    <%= image_tag "Logo/logo.png" %>
                    <!--<h1>AGROMAT</h1>-->
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul> <!-- END TITLE AREA & LOGO -->
   
            <!-- MENU ITEMS -->
            <section class="top-bar-section">
                <ul class="right">
                    <li class="active"><a href="#">O Agrome</a></li>
                    <li><a href="#">Funkcje</a></li>
                    <li><a href="#">Zespół</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#" class="button">Zarejestruj się</a></li>
                    <li><a href="#" class="signin button">Zaloguj się</a></li>
                </ul>
            </section> <!-- END MENU ITEMS -->
          </nav> <!-- END TOPBAR SECTION -->
      
    </div> <!-- END HEADER SECTION -->
  </div> <!-- END FIXED -->
</div> <!-- END MAIN HEADER -->